.itemBorder{
    border-style: solid;
    border-width: thick;
}

input[disabled] {
    color: black;
}

.highlight {
    background-color: lightblue;
}

#change {
    width:275px;
}

/* hide spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* hides the spinners on Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}