
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p><a href="@Url.Action("Inventory","Reports")"><u>Inventory Report</u></a></p>
<p><a href="@Url.Action("Sales","Reports")"><u>Sales Report</u></a></p>